:root {
  --color-dark: #000;
  --color-light-dark: #191919;
  --color-light: #fff;
  --color-light-grey: #FFFFFFBF;

  --border-radius-large: 100px;
  --border-radius-small: 8px;

  --font-family-base: 'Poppins-Regular';
  --font-family-buttons: 'Poppins-Medium';
  --font-family-headers: 'Archivo Narrow';

  --container-width: 1312px;
  --container-padding-x: 20px;

  --section-padding-y: 56px;

  --button-height: 50px;

  --transition-duration: 0.2s
}


