@use '../base/media' as *;


.featured-courses {
  margin-bottom: 80px;


  &__list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    max-width: 400px;

    @include desktop {
      max-width: 350px;
    }

    @include tablet{
      max-width: 500px;
    }
  }


  &__card-header{
    margin-bottom: 8px;
  }

  &__card-image {
    margin-bottom: 24px;
    border: 1px solid var(--color-light);

    @include tablet{
      width: 100%;
    }
  }
}